body {
    background-color: rgb(220, 220, 220);
}

 h1 {
    height: 80px;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
}

h3 {
    font-family: "Times New Roman", Georgia, serif;
}

header {
    margin: 0 -15px;
    background-color: rgb(104, 103, 149);
}

footer {
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
    background-color: rgb(104, 103, 149);
    text-align: center;
}


.centre {
    display: block;
    margin: auto;
    height:400px;
    width:600px;
}

#label {
    display: block;
    margin: auto;
    text-align: center;
    font-family: "Brush Script MT", Georgia, serif;
    font-size: 30px;
}
